/* Body font */
@font-face {
    font-family: "Bookinsanity";
    src: url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity.otf") format("opentype");
}

/* Header 3 font */
@font-face {
    font-family: "Nodesto Caps Condensed";
    src: url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Nodesto%20Caps%20Condensed/Nodesto%20Caps%20Condensed.otf") format("opentype");
}

/* Header 1 & 2 font */
@font-face {
    font-family: "Mr Eaves Small Caps";
    src: url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Mr%20Eaves/Mr%20Eaves%20Small%20Caps.otf") format("opentype");
}

/* Fonts sourced from https://github.com/jonathonf/solbera-dnd-fonts */


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 20vw 5vw;
    background-color: #FFFCF2;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

h1 {
    margin: 0;
    padding: 5vw 2vw;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    padding: 2vw;
    margin: 0;
}

h3 {
    font-size: 1.7rem;
    padding: 2vw;
    margin: 0;
}

h1,
h2,
h3{
    font-family: "Mr Eaves Small Caps", sans-serif;
    background-color: #786B3D;
    color: white;
}

h4 {
    font-family: "Nodesto Caps Condensed", sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
}

p {
    font-family: "Bookinsanity", sans-serif;
    font-size: 1rem;
}

section {
    display: none;
    background-color: #FFE68C;
    border: solid black 2px;
}

#loadSpells {
    cursor: pointer;
    padding: 2vw;
    width: 50%;
    margin: auto;
    font-size: 2rem;
    background-color: gray;
    border: solid black 0.3vw;
    border-radius: 1vw;
}

#loadSpells:hover {
    background-color: #FFE68C;
}

#allSpells>div,
#preparedSpells {
    display: flex;
    padding: 2vw;
    flex-wrap: wrap;
    gap: 1vw;
}

article {
    padding: 0.5vw;
    width: 10vw;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #FFFCF2;
    user-select: none;
    cursor: pointer;
}

#spellDescriptionContainer {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#spellDescription {
    margin: 5vw auto;
    width: 75%;
}

#spellDescription article {
    width: 100%;
    text-align: start;
    user-select: text;
    padding: 0;
    cursor: auto;
}

#spellDescription h3 {
    font-size: 3rem;
    margin: 0;
    padding: 2vw;
    background-color: #FFE68C;
    color: black;
}

#spellDescription p {
    font-size: 1.1rem;
    margin: 0;
    padding-bottom: 0.1vw;
}

#spellDescription article>div {
    padding: 2vw;
}

#description {
    padding: 1vw 0;
}

.favorite {
    background-color: #393901;
    color: gold;
}

#error {
    display: none;
    color: darkred;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
}

.overMax {
    background-color: indianred;
}

#formContainer {
    border: black solid 1px;
    padding: 2vw;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form p,
#prepared>p{
    color: darkred;
    font-size: 1.2rem;
}

#prepared>p {
    padding: 2vw;
    margin: 0;
}

form>div {
    display: flex;
    flex-direction: column;
}

form>div>div {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

input {
    font-size: 2rem;
    padding: 0.5vw;
    width: 5vw;
    height: 5vw;
    text-align: center;
    background-color: #FFFCF2;
}